.list-item-container {
  list-style: none;
  border-radius: 10px;
  border-color: #ffffff;
  border-width: 1px;
  padding: 20px;
  background-color: #ffffff;
  /* opacity: 0.1; */
  margin-bottom: 10px;
}

.emoji-btn {
  background: transparent;
  border: none;
}

.emoji-img {
  height: 50px;
  width: 50px;
}
