.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff33;
}

.branding-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.game-logo {
  height: 20px;
  width: 20px;
}

.game-name {
  font-size: 12px;
  font-family: 'Roboto';
  color: #ffffff;
}

.score-container {
  display: flex;
  margin-right: 30px;
}

.score-title {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Roboto';
  margin-right: 10px;
}

.totalScore-title {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .navbar-container {
    padding: 20px;
  }

  .game-logo {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }

  .game-name {
    font-size: 22px;
  }

  .score-title {
    font-size: 23px;
    margin-right: 20px;
  }

  .totalScore-title {
    font-size: 23px;
  }
}
